# IntelliJ IDEA files
.idea

# Python bitfiles
__pycache__/
*.py[cod]

# Examples
examples/operators
!examples/operators/.keep
examples/sources
!examples/sources/.keep
examples/interfaces
!examples/interfaces/.keep

# Database files
data
!data/.keep
